@tailwind base;
@tailwind components;
@tailwind utilities;



input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active{
 transition: all 0s 5000s;
}

.contains{
  max-width: 1600px;
  padding: 0 15px;
}
.cstm-height{
height: calc(100vh - 80px);
}
.notitle::file-selector-button{
 background: green;
}